!Android.mk
*.VC.db
*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.DS_Store
.c9
.checkstyle
.classpath
.cproject
.gdb_history
.gdbinit
.hgignore
.landmines
.metadata
.project
.pydevproject
/.externalToolBuilders/
/.settings/
/.vs/
/.vscode/
/_out
/.watchmanconfig
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
Thumbs.db
cscope.*
node_modules/
tags
v8.log

# C/C++
*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.exe
*.out
install_manifest.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Python
*.py[cod]
.installed.cfg
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml

# Ruby
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
rerun.txt
pickle-email-*.html
*.gem
*.rbc
.bundle
.config
InstalledFiles
spec/reports
test/tmp
test/version_tmp
.yardoc
_yardoc
