[user]
	name = {{= user.profile.name }}
	email = {{= user._primaryEmail }}
[bz]
	username = {{= user._primaryEmail }}
[core]
	editor = vim
	autocrlf = false
	whitespace = off
	excludesfile = ~/.gitignore
[color]
	ui = auto
[diff]
	context = 8
	indentHeuristic = true
[help]
	autocorrect = 1
[hub]
	protocol = https
[push]
	default = current
