/* Blog page */

.blog .blog-post {
  position: relative;
}

.blog .blog-post label {
  display: inline-block;
  position: absolute;
  background: transparent;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  z-index: 10;
  background: url(../img/icons/arrow-down.svg) 50% 40px no-repeat;
}

.blog-toggle {
  display: none;
}

.blog-toggle:checked + label {
  background-image: url(../img/icons/arrow-up.svg);
}

.blog-toggle:checked ~ .article-wrapper {
  height: auto;
  overflow: visible;
}

.blog .article-wrapper {
  border-top: solid 1px #ededf0;
  padding: 60px 0 80px 0;
  overflow: auto;
  height: 400px;
  overflow: hidden;
}

.blog .blog-post:first-child .article-wrapper {
  border: none;
  padding-top: 20px;
}

.blog .article-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .8), #fff, #fff);
}

.blog .article-wrapper::after,
.blog label {
  padding: 50px 0 30px 0;
}

.blog article h1 {
  margin-bottom: 40px;
}

.blog article p {
  color: #0b0b0d;
  margin-top: 0;
}

.blog article h2 {
  font-weight: 700;
  font-size: 18px;
}

.blog article p img {
  margin: 40px auto;
  display: block;
}

.blog .emoji {
  height: 1em;
}

.blog blockquote {
  border-left: solid .25em;
  background: #fafafa;
  padding: 20px;
  margin: 20px 0;
  font-style: italic;
}

.blog blockquote > *:last-child {
  margin-bottom: 0;
}

.onebox {
  box-shadow: 0 2px 8px rgba(12,12,13,.1);
  padding: 0.75em;
  margin: 20px 0;
  font-size: 14px;
}

article.onebox-body {
  border: none;
  padding: 0 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.onebox .source a,
.onebox .label1,
.onebox .label2 {
  color: #38383d;
}

.onebox .source img {
  vertical-align: middle;
}

.onebox .label2 {
  float: right;
}

.onebox-body p {
  margin-bottom: 0;
}

.onebox-body .aspect-image {
  max-height: 170px;
  --magic-ratio: calc(var(--aspect-ratio) + 0.15);
  width: calc(128px * var(--magic-ratio));
  max-width: 20%;
  float: left;
  margin-right: 10px;
  height: auto;
}

.onebox .site-icon {
  width: 16px;
  height: 16px;
}

.onebox-body img {
  width: 100%;
}

.onebox-body h3 {
  margin-top: 0;
}
