/* General */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #fff;
  color: #0b0b0d;
}

body {
  margin: 0;
  padding: 0;
  /* The list of system fonts after "Droid Sans" are from github.com */
  font-family: "Fira Sans", Roboto, "Droid Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

*:not(:hover) > .show-on-hover {
  visibility: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.gray-text {
  color: #737373;
}

.grow {
  flex-grow: 1;
}

.padded {
  padding: 0.75em;
}

h1 {
  font-weight: 200;
  font-size: 33px;
}

h2 {
  font-weight: 300;
  font-size: 22px;
}

h3 {
  font-weight: 500;
  font-size: 17px;
}

h4 {
  font-weight: 500;
  font-size: 1em;
}

main {
  padding: 0 20vw;
  overflow: auto;
  flex-grow: 1;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 2px;
  background: #ededf0;
  padding: 6px 10px;
  color: #0c0c0d;
  text-decoration: none;
  font: inherit;
  display: inline-block;
}

.btn:not(:first-child) {
  margin-left: 0.5em;
}

.btn:hover {
  background: #d7d7db;
}

.btn:hover:active {
  background: #b1b1b3;
}

.btn:focus {
  box-shadow: inset 0 0 0 2px #0a84ff, 0 0 0 3px rgba(10, 132, 255, 0.3);
}

.btn-primary {
  background: #0060df;
  color: #f9f9fa;
}

.btn-primary:hover {
  background: #003eaa;
}

.btn-primary:hover:active {
  background: #002275;
}

.btn-error {
  background: #ff0039;
  color: #f9f9fa;
}

.btn-error:hover {
  background: #d70022;
}

.btn-error:hover:active {
  background: #a4000f;
}

/* Inputs */

.form-control {
  border: 1px solid rgba(12, 12, 13,0.3);
  padding: 5px 9px;
  border-radius: 2px;
  font: inherit;
  margin: 0 0.5em;
  transition: box-shadow 0.15s cubic-bezier(.07,.95,0,1);
}

.form-control:hover {
  border-color: rgba(12, 12, 13,0.5);
}

.form-control:focus {
  border-color: #0a84ff;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.form-control.disabled,
.form-control:disabled {
  pointer-events: none;
  background: #f5f5f5;
}

/* Navigation bar */

.navbar {
  background: #fff;
  color: #0b0b0d;
  z-index: 999;
  font-size: 1.1em;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 16px rgba(12,12,13,.1);
}

.navbar,
.navbar div {
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  flex: 1;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  padding: 1em 1em;
}

.navbar-brand img {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.navbar .icon.menu,
.menu-toggle {
  display: none;
}

.navbar ul:last-child {
  text-align: right;
  flex: 1;
}

.navbar ul,
.navbar ul li,
.navbar ul li a {
  list-style: none;
  color: inherit;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  padding: 1.25em 1em;
}

.navbar ul li a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .navbar,
  .navbar ul {
    display: block;
    overflow: auto;
  }
  
  .navbar .menu-toggle:not(:checked) + ul {
    display: none;
  }
  
  .navbar .icon.menu {
    display: block;
    cursor: pointer;
    padding: 0 1em;
  }
  
  .navbar ul {
    margin-bottom: 0.5em;
  }

  .navbar ul li {
    display: block;
    text-align: center;
  }

  .navbar ul li a {
    display: block;
    padding: 10px !important;
  }

  .navbar ul li a:hover {
    background-color: #ededf0;
    text-decoration: none;
  }

  main {
    padding: 1em;
  }
}

/* Footer */

.footer {
  border-top: solid 1px #ededf0;
}

/* Tabs */

.tab-nav, .tab-nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-nav li {
  display: inline-block;
  margin: 0 1em;
}

.tab-nav li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: .5em 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  vertical-align: bottom;
}
.tab-nav li a::after {
  content: "";
  transition: transform 1s cubic-bezier(.07,.95,0,1);
  transform: scale(0);
  display: block;
  background: #0a84ff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;  
}

.tab-nav li.selected a {
  color: #0a84ff;
}
.tab-nav li.selected a::after {
  transform: none;
}

.tab-panel iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.tab-panels .tab-panel:not(.selected) {
  display: none;
}

/* Panels */

.panel {
  box-shadow: 0 2px 8px rgba(12,12,13,.1);
  margin: 20px 0;
  border-radius: 2px;
}

.panel-icon {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}

.panel-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ededf0;
}

.panel-heading > * {
  vertical-align: middle;
  display: inline-block;
}

.panel-body {
  background: #fcfcfc;
}

/* Status icons */

.status-icon {
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  width: 10px;
  height: 10px;
  display: inline-block;
}

.status-icon.primary {
  background: #0a84ff;
}

.status-icon.success {
  background: #30e60b;
}

.status-icon.error {
  background: #ff0039;
}

.status-icon.warning {
  background: #ff9400;
}

/* Editable labels */

.editable-value > * {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

.editable-label:not(.editing) .editable-editor,
.editable-label.editing .editable-value {
  display: none;
}

.editable-editor {
  width: 100%;
  display: flex;
}

.editable-editor > input {
  flex: 1;
}

.editable-toggle {
  margin-left: 10px;
  cursor: pointer;
}

/* Alerts */

.alert {
  padding: 10px;
  margin: 1.5em 0;
  border-radius: 4px;
}

.alert.alert-warning {
  background: #ffe900;
  color: #3e2800;
}

/* Icons */

.icon::before,
.form-control-feedback::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.icon.white::before {
  filter: invert(1);
}

.icon.edit::before {
  background-image: url(../img/icons/edit.svg);
}

.icon.menu::before {
  background-image: url(../img/icons/menu.svg);
}

/* Form control feedback */

.ajax-form {
  position: relative;
}

.form-control-feedback {
  border: none;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.ajax-form:not(.success):not(.error) .form-control-feedback {
  display: none;
}

.ajax-form.pending .form-control-feedback::before {
  content: "...";
}

.ajax-form.success .form-control-feedback::before {
  background-image: url(../img/icons/check.svg);
}

.ajax-form.error .form-control-feedback::before {
  background-image: url(../img/icons/error.svg);
}

/* Projects page */

.panel-project:not(:hover) .editable-toggle:not(:focus) {
    visibility: hidden;
}

.danger-zone {
  color: #3e0200;
  background: rgba(255, 0, 57, 0.1);
}

/* Blog page */

.blog {
  font-size: 16px;
}

.blog article {
  border-top: solid 1px #ededf0;
  margin: 1.5em 0;
}

.blog article:first-child {
  border: none;
  padding-top: 0;
}

.blog footer {
  margin: 1.5em 0;
}

.onebox {
  box-shadow: 0 2px 8px rgba(12,12,13,.1);
  padding: 0.75em;
  margin: 20px 0;
  font-size: 14px;
}

article.onebox-body {
  border: none;
  padding: 0 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.onebox .source a,
.onebox .label1,
.onebox .label2 {
  color: #38383d;
}

.onebox .source img {
  vertical-align: middle;
}

.onebox .label2 {
  float: right;
}

.onebox-body p {
  margin-bottom: 0;
}

.onebox-body .aspect-image {
  max-height: 170px;
  --magic-ratio: calc(var(--aspect-ratio) + 0.15);
  width: calc(128px * var(--magic-ratio));
  max-width: 20%;
  float: left;
  margin-right: 10px;
  height: auto;
}

.onebox-body img {
  width: 100%;
}

.onebox-body h3 {
  margin-top: 0;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article a,
article a:hover,
article a:focus {
  color: #0060df;
}

article a:active {
  color: #003eaa;
}

article a:focus {
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.2);
  border-radius: 2px;
  text-decoration: none;
}
