/* Copyright © 2015 Jan Keromnes. All rights reserved.
 * The following code is covered by the AGPL-3.0 license. */


html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header, section, footer {
  flex-shrink: 0;
}

section {
  margin-top: 15px;
  margin-bottom: 30px;
}

section:last-of-type {
  flex-grow: 1;
}

footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 7px;
  padding-bottom: 7px;
}

h2.header {
  margin-bottom: 20px;
}

h4 {
  color: #777;
}


/* Responsive navigation bar */

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #333;
}

.navbar-header {
  text-align: center;
}

.navbar-brand {
  opacity: 0.7;
  float: none;
  display: inline-block;
}

.navbar-brand:hover, .navbar-brand:focus {
  opacity: 1;
}

.navbar-brand > img {
  width: 25px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.navbar-brand > span, .jumbotron h1 {
  color: white;
  font-family: sans-serif;
}

.navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 11px 0 0 13px;
  font-size: 20px;
}

.navbar-toggle:link, .navbar-toggle:visited, .navbar-toggle:active {
  color: white;
  opacity: 0.6;
}

.navbar-toggle:hover {
  color: white;
  opacity: 0.9;
}

.badge-red {
  background-color: #D9534F;
}


/* Landing page */

.jumbotron {
  color: white;
  background-color: #1265AA;
  padding-top: 130px;
  padding-bottom: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.signup {
  color: white;
  background-color: #094C83;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
}

.signup > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.signup-text {
  margin-right: 50px;
}

.signup-text > h2, .signup-text h3 {
  margin: 10px 0 0 0;
}

.janitor-story {
  margin-top: 15px;
}

.janitor-story.disabled {
  opacity: 0.5;
}

.janitor-story > h2 > .glyphicon-flash {
  margin: 0 -5px;
  font-size: 32px;
  top: 3px;
}

.janitor-story > h2 > .glyphicon-check {
  font-size: 28px;
}

.janitor-story > h2 > .glyphicon-cloud {
  top: 7px;
}


/* Forms */

#signup-form {
  padding: 0;
}

#invite-form > .form-control-feedback {
  top: 0;
  right: 60px;
}

#invite-form input[type='email'] {
  border-top-left-radius: 0;
}

#invite-form input[type='submit'] {
  border-top-right-radius: 0;
}

.account-form {
  margin-bottom: 15px;
}

.ajax-form > .form-control-feedback {
  outline: none;
  padding: 1px;
  top: 5px;
}

.ajax-form.has-button > .form-control-feedback {
  right: 75px;
}

.ajax-form.panel-project > .form-control-feedback {
  top: 10px;
  right: 80px;
}

.row > .ajax-form > .form-control-feedback {
  right: 15px;
}

.row > .ajax-form.has-select > .form-control-feedback {
  right: 25px;
}

.ajax-form:not(.has-success) > .form-control-feedback > .glyphicon-ok {
  display: none;
}

.ajax-form:not(.has-error) > .form-control-feedback > .glyphicon-remove {
  display: none;
}

.login-with {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.login-with > a {
  flex: 1;
}

.login-with > a:not(:last-child) {
  margin-right: 10px;
}


/* Panels */

.panel-project {
  margin-top: 25px;
}

.panel-project > .panel-heading {
  padding: 10px;
  display: flex;
  align-items: center;
}

.project-icon {
  height: 35px;
  width: 35px;
}

.project-icon.glyphicon {
  top: 0;
  color: #777;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.project-title {
  flex-grow: 1;
  padding: 0 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-status {
  margin-left: 10px;
}

.project-actions {
  flex-shrink: 0;
}

.panel-project > .panel-body {
  padding: 10px;
}

.project-actions > .btn:not(:last-child) {
  margin-right: 5px;
}

.panel-project .form-control {
  margin-bottom: 15px;
}

.project-updated {
  text-align: right;
  margin-bottom: 0;
}

.project-timestamp {
  border-bottom: 1px dotted lightgrey;
}

.project-logs {
  max-height: 200px;
}

.project-graph {
  padding-top: 40px;
  padding-right: 25px;
}

.project-graph > div[data-data] {
  height: 300px;
  width: 500px;
  max-width: 100%;
}

/* Blog */

.blog {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 30px;
}

.blog > .container {
  max-width: 700px;
  padding-left: 25px;
  padding-right: 25px;
}

.blog-post {
  margin-bottom: 45px;
}

.blog-post > h2.header {
  margin-bottom: 35px;
  margin-left: -2px;
  margin-right: -2px;
}

/* Data */

.data-topic {
  padding: 20px;
  padding-top: 15px;
}

.numbers > .number:not(:first-of-type) {
  padding-left: 10px;
}

.number {
  color: #0c9100;
  font-size: 24px;
  font-weight: bold;
}

.unit {
  color: #777;
  font-size: 11px;
}


/* Sections */

.tabs {
  margin-bottom: 0;
}

.protip {
  color: #777;
  text-align: center;
  margin: 0;
}
