.search-section {
  text-align: right;
}
.search-section label {
  /* blind readers use the label, while sighted users use the icon */
  position: absolute;
  left:-9999px;
}
.search-section input {
  padding-left: 34px; /* 9px padding + 16px image*/
  background: #fff url(/img/icons/search.svg) no-repeat 9px center;
}

.card[hidden] {
  display: none;
}