    <main class="container">
      <h1>About</h1>
      <p>
        Janitor is a home for everyone interested in open source development.
        This project aims to enhance the process of software development by
        creating ready-made environments for popular open source projects, thus
        making contributions a breeze.
      </p>
      <h2>Team Janitor</h2>
      <ul>
        <li>Arshad Khan</li>
        <li>Benjamin Bouvier</li>
        <li>Etienne Wan</li>
        <li>Jan Keromnes</li>
        <li>Mathieu Agopian</li>
        <li>Michael Howell</li>
        <li>Patrick Trottier</li>
        <li>Philip Cristiano</li>
        <li>Raphael Catolino</li>
        <li>Tatsuyuki Ishi</li>
        <li>Thaddée Tyl</li>
        <li>Tim Nguyen</li>
      </ul>
    </main>
