    <section>
      <div class="container">{{
          for (const hostname in hosts) {
            const host = hosts[hostname];
        }}
        <div class="panel panel-default panel-project">
          <div class="panel-heading">
            <span class="project-icon glyphicon glyphicon-globe" aria-hidden="true"></span>
            <h4 class="project-title">{{= hostname in html}}</h4>
            <div class="project-actions"></div>
          </div>
          <div class="panel-body">
            <form action="/api/hosts/{{= hostname in xmlattr}}" class="ajax-form has-feedback" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <label class="control-label">Docker Remote API port</label>
                  <input class="form-control" data-submit-on="blur" name="port" placeholder="2376" type="number" value={{= host.properties.port in json}}>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="control-label">Docker TLS ca</label>
                  <textarea class="form-control" data-submit-on="blur" name="ca" placeholder="-----BEGIN CERTIFICATE-----" rows="6">{{= host.properties.ca in html}}</textarea>
                </div>
                <div class="col-sm-4">
                  <label class="control-label">Docker TLS certificate</label>
                  <textarea class="form-control" data-submit-on="blur" name="crt" placeholder="-----BEGIN CERTIFICATE-----" rows="6">{{= host.properties.crt in html}}</textarea>
                </div>
                <div class="col-sm-4">
                  <label class="control-label">Docker TLS key</label>
                  <textarea class="form-control" data-submit-on="blur" name="key" placeholder="-----BEGIN RSA PRIVATE KEY-----" rows="6">{{= host.properties.key in html}}</textarea>
                </div>
              </div>
            </form>
          </div>{{if {{'oauth2client' in host}} then {{
          <div class="panel-footer">
            <form action="/api/hosts/{{= hostname in xmlattr}}/credentials" class="ajax-form has-feedback has-submit" data-refresh-after-success="true" method="delete">
              <div class="row">
                <div class="col-sm-6">
                  <label class="control-label">OAuth2 ID</label>
                  <input class="form-control" disabled="true" type="text" value={{= host.oauth2client.id in json}}>
                </div>
                <div class="col-sm-6">
                  <label class="control-label">OAuth2 secret</label>
                  <input class="form-control" disabled="true" type="text" value={{= host.oauth2client.secret in json}}>
                </div>
              </div>
              <button class="btn btn-default" type="submit">Reset OAuth2 secret</button>
            </form>
          </div>}}}}
        </div>{{
          }
        }}
        <div class="row">
          <form class="ajax-form has-feedback has-button col-sm-12" id="newhost-form">
            <label class="control-label">New Host</label>
            <div class="input-group">
              <input class="form-control" name="hostname" placeholder="example.com" type="text">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add</button>
              </span>
            </div>
          </form>
      </div>
    </section>
