    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <label>Users</label>
            <ul class="list-group">{{ for (let email in users) { }}
              <li class="list-group-item">{{= email in html}}</li>{{ } }}
            </ul>
          </div>
          <div class="col-sm-6">
            <label>Waitlist</label>
            <ul class="list-group">{{ for (let email in waitlist) { }}
              <li class="list-group-item">{{= email in html}}</li>{{ } }}
              <form id="invite-form" class="ajax-form has-feedback has-button">
                <div class="input-group">
                  <input class="form-control" name="email" placeholder="Email address" type="email">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Invite">
                  </span>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </section>
