    <link rel="alternate" type="application/rss+xml" href="https://discourse.janitor.technology/c/propaganda/blog.rss">
    <main class="container">
      <section class="blog">{{
          for (const post of posts) {
            const { title, post_body_html, slug, comments_count, comments_url } = post;
        }}
        <div class="blog-post">
          <input type="checkbox" class="blog-toggle" id="{{= slug in xmlattr}}-cb">
          <label for="{{= slug in xmlattr}}-cb" title="Toggle"></label>
          <div class="article-wrapper">
            <article>
              <h1 id="{{= slug in xmlattr}}">{{= title in html}}</h1>
              {{= post_body_html}}
            </article>
            <footer><a class="btn" href="{{= comments_url in xmlattr}}">{{= comments_count in html}} comment{{if {{comments_count !== 1}} then {{s}}}}</a></footer>
          </div>
        </div>{{
        }
        }}
      </section>
    </main>
