    <section class="blog">{{
        for (const topic of topics) {
          const {title, post_body_html, slug, id, posts_count} = topic;
          const title_url = blog.getPostUrl(topic);
          // the newsletter itself counts as a "post" in this "topic"
          // all other posts are comments
          const comments_count = posts_count - 1;
          const comments_url = blog.getCommentsUrl(topic);
          const url = comments_count > 0 ? comments_url : title_url;
      }}
      <article>
        <h2 id="{{= slug in xmlattr}}">{{= title in html}}</h2>
        {{= post_body_html}}
      </article>
      <footer><a class="btn" href="{{= url in xmlattr}}">{{= comments_count in html}} comments</a></footer>{{
      }
      }}
    </section>
