    <section>
      <div class="container">
        <h2 class="header">My Contributions</h2>{{
          for (let projectId in user.machines) {
            let machines = user.machines[projectId];
            let project = projects[projectId];
            for (let id in machines) {
              let machine = machines[id];
              if (machine.status === "new") continue;
        }}
        <div class="panel panel-default panel-project">
          <div class="panel-heading">
            <img class="project-icon" src="{{= project.icon in xmlattr}}" alt="{{= project.name in xmlattr}} Logo">
            <h4 class="project-title">
              {{= project.name in html}} #{{= id in id}}
              <small class="project-status" data-status="{{= machine.status in xmlattr}}"></small>
            </h4>
            <div class="project-actions dropdown">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a data-action="destroy" data-confirm="Delete {{= project.name in html}} #{{= id in id}}?" data-details="This action can't be undone, please make sure you've backed up everything valuable." data-machine={{= id in json}} data-project={{= projectId in json}} data-toggle="modal" data-target="#confirm" href="#">Delete</a></li>
              </ul>
              <a class="btn btn-default" href="https://{{= machine.docker.host in uri}}/{{= machine.docker.container.slice(0,16) in uri}}/8088/vnc_auto.html" target="_blank">VNC</a>
              <a class="btn btn-primary" href="https://c9.io/open/ssh?name={{= projectId in id}}-{{= id in id}}&description={{= project.name in uri}}%20on%20janitor.technology&host={{= machine.docker.host in uri}}&port={{= machine.docker.ports['22'].port in integer}}&user=user&workspaceDir={{= project.docker.path in uri}}&nodePath=%2Fhome%2Fuser%2F.c9%2Fnode%2Fbin%2Fnode" target="_blank"><span class="hidden-xs">Edit in </span>Cloud9</a>
            </div>
          </div>
          <div class="panel-body">
            <label>Logs</label>
            <pre class="well well-sm project-logs">{{= machine.docker.logs in html}}</pre>
            <p class="project-updated">Updated <time class="project-timestamp" data-timestamp="{{= machine.data.updated in integer}}"></time>.</p>
          </div>
        </div>{{
            }
          }
        }}
      </div>
      <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-title">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="confirm-title"></h4>
            </div>
            <div class="modal-body">
              <p id="confirm-details"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="confirm-button"></button>
            </div>
          </div>
        </div>
      </div>
    </section>
