    <main class="container">{{
        for (let projectId in user.machines) {
          const machines = user.machines[projectId];
          const project = projects[projectId];
          for (const id in machines) {
            const machine = machines[id];
            if (machine.status === "new") {
              continue;
            }
            const name = machine.properties.name || `${project.name} #${id}`;
      }}
      <div class="panel">
        <div class="panel-heading padded">
          <span class="status-icon" data-status="{{= machine.status in xmlattr}}"></span>
          <img class="panel-icon" src="{{= project.icon in xmlattr}}" alt="{{= project.name in xmlattr}} Logo">
          <div class="grow">
            <div class="editable-label project-title">
              <form action="/api/hosts/{{= machine.docker.host in xmlattr}}/containers/{{= machine.docker.container in xmlattr}}" class="ajax-form editable-editor has-feedback" data-refresh-after-success="true" method="patch">
                <input class="form-control" data-submit-on="blur" name="/name" placeholder="{{= project.name in xmlattr }} #{{= id in id}}" type="text" value="{{= machine.properties.name in xmlattr }}">
              </form>
              <div class="editable-value">
                <h4 id="{{= machine.docker.container.slice(0,16) in xmlattr}}">{{= name in html}}</h4>
                <span class="icon edit editable-toggle"></span>
              </div>
            </div>
          </div>
          <div>
          {{
            const updated = new Date(machine.data.updated);
            const c9sdkStart = new Date('2017-08-02');
            const c9ioEnd = new Date('2017-09-02');
            if (updated > c9sdkStart && updated < c9ioEnd) { }}
            <a class="btn" href="https://c9.io/open/ssh?name={{= projectId in id}}-{{= id in id}}&description={{= project.name in uri}}%20on%20janitor.technology&host={{= machine.docker.host in uri}}&port={{= machine.docker.ports['22'].port in integer}}&user=user&workspaceDir={{= project.docker.path in uri}}&nodePath=%2Fhome%2Fuser%2F.c9%2Fnode%2Fbin%2Fnode" target="_blank">c9.io</a>
          {{ } }}
            <a class="btn" href="https://{{= machine.docker.host in uri}}/{{= machine.docker.container.slice(0,16) in uri}}/8088/vnc.html" target="_blank">VNC</a>
            <a class="btn btn-primary"{{
              if (updated < c9sdkStart) { }} href="https://c9.io/open/ssh?name={{= projectId in id}}-{{= id in id}}&description={{= project.name in uri}}%20on%20janitor.technology&host={{= machine.docker.host in uri}}&port={{= machine.docker.ports['22'].port in integer}}&user=user&workspaceDir={{= project.docker.path in uri}}&nodePath=%2Fhome%2Fuser%2F.c9%2Fnode%2Fbin%2Fnode" {{ }
              else { }} href="https://{{= machine.docker.host in uri}}/{{= machine.docker.container.slice(0,16) in uri}}/8089/ide.html" {{ }
            }}target="_blank">IDE</a>
          </div>
        </div>
        <div class="panel-body tabs">
          <ul class="tab-nav">
            <li class="tab" data-tab="info"><a href="#">Info</a></li>
            <li class="tab" data-tab="advanced"><a href="#">Advanced</a></li>
          </ul>
          <div class="tab-panels">
            <div class="tab-panel padded" data-tab="info">
              <p class="project-updated">{{
              // FIXME: Stop using `machine.data.updated` here once all containers have an expiration date.
              const machineExpires = machine.data.expires || (machine.data.updated + 1000 * 3600 * 24 * 30 * 6);

              // Show image build time until about 2 months before the container expires, then show expiration time.
              if (machineExpires - Date.now() > 1000 * 3600 * 24 * 30 * 2) {
                const machineUpdatedFuzzy = timeago().format(machine.data.updated); }}
                <span>Image built</span>
                <time class="project-timestamp" data-timestamp="{{= machine.data.updated in integer}}">{{= machineUpdatedFuzzy in html}}</time>.{{
              } else {
                const machineExpiresPrefix = 'Expire' + (machineExpires < Date.now() ? 'd' : 's');
                const machineExpiresFuzzy = timeago().format(machineExpires); }}
                <span>{{= machineExpiresPrefix in html}}</span>
                <time class="project-timestamp" data-timestamp="{{= machineExpires in integer}}">{{= machineExpiresFuzzy in html}}</time>.{{
              } }}
              </p>
            </div>
            <div class="tab-panel" data-tab="advanced">
              <div class="padded">
                <b>Connect via SSH</b>
                <p>Use the following command to connect to your container via SSH:</p>
                <code>ssh -p{{= machine.docker.ports['22'].port in integer}} user@{{= machine.docker.host in html}}</code>
              </div>
              <div class="danger-zone padded">
                <b>Danger zone!</b>
                <p>This action can't be undone, please make sure you've backed up everything valuable.</p>
                <form class="ajax-form has-feedback" data-refresh-after-success="true" method="delete" action="/api/hosts/{{= machine.docker.host in xmlattr}}/containers/{{= machine.docker.container in xmlattr}}">
                  <button type="submit" class="btn btn-error">Delete container</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>{{
          }
        }
      }}
    </main>
