    <section>
      <div class="container">
        <h2 class="header">My Contributions</h2>
        <span class="label label-info">Work In Progress</span>
        <span class="label label-default">Under Review</span>
        <span class="label label-danger">Update Failed</span>
        <span class="label label-success">Accepted</span>
        <span class="label label-warning">Rejected</span>
        <span class="label label-primary">Merged</span>
        <button class="btn btn-primary">Merge</button>
      </div>
    </section>
