    <section>
      <div class="container">
        <h2 class="header">My Contributions</h2>{{
        for projectId, machines in user.machines {{{{
          for id, machine in machines {{{{
            if {{ machine.status !== "new" }} then {{
        <div class="panel panel-default panel-project">
          <div class="panel-heading">
            <img class="project-icon" src="{{= projects[projectId].icon in xmlattr}}" alt="{{= projects[projectId].name in xmlattr}} Logo">
            <h4 class="project-title">
              {{= projects[projectId].name in html}} #{{= machine.id in integer}}
              <small class="project-status" data-status="{{= machine.status in xmlattr}}"></small>
            </h4>
            <div class="project-actions">
              <a class="btn btn-default" data-action="spawn" data-id="{{= projectId in id}}" href="/vnc/{{= projectId in id}}/{{= id in id}}/vnc_auto.html" target="_blank">VNC</a>
              <a class="btn btn-primary" data-action="spawn" data-id="{{= projectId in id}}" href="https://c9.io/open/ssh?name={{= projectId in id}}&description={{= machine.name in uri}}%20on%20janitor.technology&host=janitor.technology&port={{= machine.ports.ssh in integer}}&user=user&workspaceDir={{= projects[projectId].docker.path in uri}}&nodePath=%2Fusr%2Fbin%2Fnodejs" target="_blank"><span class="hidden-xs">Edit in </span>Cloud9</a>
            </div>
          </div>
          <div class="panel-body">
            <label>Logs</label>
            <pre class="well well-sm project-logs">{{= machine.docker.logs in html}}</pre>
          </div>
        </div>}}}}}}}}}}}}
      </div>
    </section>
