<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Janitor">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Janitor{{if title then {{ – }}}}{{= title in html}}</title>
    <link href="/manifest.json" rel="manifest">
    <link href="/css/janitor-new.css" rel="stylesheet">
    <link href="/img/janitor.svg" rel="icon" sizes="any" type="image/svg+xml">
  </head>
  <body>
    <header class="navbar navbar-sticky" role="navigation">
      <div class="navbar-container">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="/">
            <img src="/img/janitor.svg" alt="Janitor Logo">
            <span>Janitor</span>
          </a>
          <label for="menu-toggle" class="icon menu"></label>
        </div>
        <input type="checkbox" class="menu-toggle" id="menu-toggle">
        <ul>{{if user then {{
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/containers/">Containers</a></li>
          <li><a href="/settings/">Settings</a></li>
          <li><a href="/logout">Log Out</a></li>}} else {{
          <li><a href="/login">Log In</a></li>}}}}
        </ul>
      </div>
    </header>
    <main>
