        <div class="container">
          <div class="text-center">
            {{
              const tagline = taglines[Math.floor(Math.random() * taglines.length)] + ' faster';
            }}<h1 class="heading">{{= tagline in html}}</h1>
          </div>
          <div id="intro-video">
            <iframe title="Intro video" src="https://www.youtube.com/embed/5sNDMIh-iVw" allowfullscreen></iframe>
          </div>
        </div>
        <div id="quotes" class="landing-section">
          <div class="quote grow">
            <blockquote>Just wanted to say thanks for making Janitor. It just saved me a ton of time debugging a crash.</blockquote>
            <span>― Brian Grinstead</span>
          </div>
          <div class="quote grow">
            <blockquote>This will change the lives of a lot of contributors.</blockquote>
            <span>― Michael Kohler</span>
          </div>
          <div class="quote grow">
            <blockquote>Mind blown! This would have literally saved months of my life years ago when I hacked on Firefox.</blockquote>
            <span>― Brian King</span>
          </div>
        </div>
        <div class="container">
          <h1>In one click, spin up a complete development environment</h1>
          <ul id="feature-list">
            <li>Runs Ubuntu 16.04</li>
            <li>Starts in 2.1 seconds</li>
            <li>Pre-configured tools &amp; dependencies</li>
            <li>Pre-compiled source tree</li>
            <li>On powerful servers with fast Internet</li>
            <li>Login from anywhere (home; work; the library; a bus…)</li>
            <li>Save your laptop from overheating</li>
          </ul>
        </div>
        <div class="container">
          <h1>Hack on the coolest projects</h1>
          <div class="grid">{{
            for (let id in projects) {
              const project = projects[id];
            }}
            <div class="card">
              <img class="card-image" src="{{= project.icon in xmlattr}}" alt="{{= project.name in xmlattr}} Logo">
              <div class="card-content">
                <div class="grow">
                  <h2>{{= project.name in html}}</h2>
                </div>
              </div>
            </div>{{ } }}
          </div>
        </div>
        <div class="container">
          <h1>Get started</h1>
          <form class="ajax-form form-control-container has-feedback" action="/signup" method="post">
            <input class="form-control large" name="email" placeholder="you@yourdomain.com" spellcheck="false" autocapitalize="off" type="email" autocomplete="off" required>
            <input class="btn btn-primary large" type="submit" value="Sign up!"/>
          </form>
        </div>
        <div class="container">
          <h1>Brought to you by</h1>
          <div class="partners">
            <a href="https://aws.amazon.com/cloud9/" class="partner-logo"><img alt="Cloud9" src="/img/c9.svg"></a>
            <a href="https://www.irill.org" class="partner-logo"><img alt="IRILL" src="/img/partners/irill.png"></a>
            <a href="https://mozilla.org" class="partner-logo"><img alt="Mozilla" src="/img/partners/mozilla.svg"></a>
            <a href="https://www.datadoghq.com" class="partner-logo"><img alt="Datadog" src="/img/partners/datadog.svg"></a>
          </div>
        </div>
