        <div class="container">
          <div class="text-center">
            {{
              const tagline = taglines[Math.floor(Math.random() * taglines.length)] + ' faster';
            }}<h1 class="heading">{{= tagline in html}}</h1>
            <h2 class="grey-text description">The fastest development system in the world.</h2>
          </div>
          <div id="intro-video">
            <iframe title="Intro video" src="https://www.youtube.com/embed/5sNDMIh-iVw" allowfullscreen></iframe>
          </div>
        </div>
        <div id="quotes" class="landing-section">
          <div class="quote grow">
            <blockquote>Just wanted to say thanks for making Janitor. It just saved me a ton of time debugging a crash.</blockquote>
            <span>― Brian Grinstead</span>
          </div>
          <div class="quote grow">
            <blockquote>This will change the lives of a lot of contributors.</blockquote>
            <span>― Michael Kohler</span>
          </div>
          <div class="quote grow">
            <blockquote>Mind blown! This would have literally saved months of my life years ago when I hacked on Firefox.</blockquote>
            <span>― Brian King</span>
          </div>
        </div>
        <div class="container">
          <h2>In one click, spin up a complete development environment that:</h2>
          <ul>
            <li>Ships with all the project's dependencies pre-installed.</li>
            <li>Has the source code you need already downloaded and compiled.</li>
            <li>Is fast, and connected to a powerful backbone internet connection.</li>
            <li>Can be accessed anywhere you have an internet connection and a web browser; even a library computer or a Chromebook.</li>
            <li>Runs Linux.</li>
            <li>Comes with convenience scripts and utilities that the maintainers themselves use to improve their productivity.</li>
            <li>Gets completely isolated from your own computer, and from your other containers.</li>
            <li>Starts in a few seconds.</li>
          </ul>
        </div>
        <div class="container">
          <h2>Mind-blowing projects you can contribute to</h2>
          <div class="grid">{{
            for (let id in projects) {
              const project = projects[id];
            }}
            <div class="card">
              <img class="card-image" src="{{= project.icon in xmlattr}}" alt="{{= project.name in xmlattr}} Logo">
              <div class="card-content">
                <div class="grow">
                  <h2>{{= project.name in html}}</h2>
                </div>
              </div>
            </div>{{ } }}
          </div>
        </div>
        <div class="container">
          <h2>Get started now:</h2>
          <div class="form-control-container">
            <input class="form-control large" name="email" placeholder="you@yourdomain.com" spellcheck="false" autocapitalize="off" type="email" autocomplete="off" required>
            <button class="btn btn-primary large">Log In</button>
          </div>
        </div>
        <div class="container">
          <h2>Our awesome partners</h2>
          <div class="partners">
            <a href="https://mozilla.org" class="partner-logo"><img alt="Mozilla" src="/img/partners/mozilla.svg"></a>
            <a href="https://www.irill.org" class="partner-logo"><img alt="IRILL" src="/img/partners/irill.png"></a>
            <a href="https://aws.amazon.com/cloud9/" class="partner-logo"><img alt="Cloud9" src="/img/c9.svg"></a>
            <a href="https://www.datadoghq.com" class="partner-logo"><img alt="Datadog" src="/img/partners/datadog.svg"></a>
          </div>
        </div>
