    <section class="jumbotron">
      <div class="container">
        <h1>Fix bugs, faster</h1>
        <h3>The fastest development system in the world.</h3>
      </div>
    </section>
    <section class="signup">
      <div class="container">
        <div class="signup-text">
          <h3>Now in pre-alpha!</h3>
          <p>Stay tuned and get invited as soon as possible.</p>
        </div>
        <form id="signup-form" class="email-form form-group has-feedback" action="javascript:void(0)">
          <div class="input-group input-group-lg">
            <input class="form-control" placeholder="Email address" type="email">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Send">
            </span>
          </div>
          <div class="form-control-feedback" tabindex="99">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </div>
        </form>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>A new way to write software</h1>
        <h4>Never download or install anything, ever again. Working fully in the cloud is going to save you a lot of time.</h4>
        <div class="row">
          <div class="janitor-story col-md-4">
            <h2><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Code Faster</h2>
            <p>The Janitor was designed to take you from idea to code as fast as possible.</p>
          </div>
          <div class="janitor-story col-md-4 disabled">
            <h2><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Review Faster</h2>
            <p>Do people ask you to review their code? Track your requests from GitHub, Bugzilla and more.</p>
          </div>
          <div class="janitor-story col-md-4">
            <h2><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Access Faster</h2>
            <p>The Janitor is completely web-based, so your code is always just one click away, from any device.</p>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-md-4">
            <h2>AI-powered development</h2>
            <p>Combine your intuition with the horsepower of computers.</p>
          </div>
          <div class="col-md-4">
            <h2>Automated maintenance</h2>
            <p>With automatically suggested fixes.</p>
          </div>
          <div class="col-md-4">
            <h2>Building and testing Firefox with Cloud9</h2>
            <p>[video]</p>
          </div>
        </div>
        -->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5sNDMIh-iVw" allowfullscreen></iframe>
        </div>
      </div>
    </section>
