    <main class="container">
      <div class="text-center centered-container">
        <h1>Authenticate</h1>
        <p class="description">
          To log in, please fill in your email address below:
        </p>
        <form class="ajax-form has-feedback" id="login-form" method="post" action="/login/email">
          <div class="form-control-container">
            <input class="form-control large text-center" name="email" placeholder="you@yourdomain.com" spellcheck="false" autocorrect="off" autocapitalize="off" type="email" autocomplete="off" required>
          </div>
          <div class="form-control-container">
            <input class="btn btn-primary large" type="submit" value="Log In"/>
          </div>
        </form>
      </div>
    </main>
