    <section class="login">
      <div class="container text-center">
        <h2>
          Authenticate
        </h2>
        <p class="description">
          To sign up or log in, fill in your email address below:
        </p>
        <form class="ajax-form" id="login-form">
          <div class="input-group">
            <input class="text-input" name="email" placeholder="you@yourdomain.com" spellcheck="false" autocorrect="off" autocapitalize="off" type="email" autocomplete="off" required>
            <button class="button dark"><b>Submit</b></button>
          </div>
        </form>
        <div class="login-with">
          <span class="disabled" title="Coming soon">Use GitHub instead</span>
        </div>
      </div>
    </section>
