    <section>
      <div class="container">
        <h2 class="header">{{= project.name in html}}</h2>
        <p>Built {{
          const projectUpdatedFuzzy = project.data.updated
            ? timeago().format(project.data.updated)
            : 'never';
        }}<time class="project-timestamp" data-timestamp="{{= project.data.updated in integer}}">{{= projectUpdatedFuzzy in html}}</time>.</p>
        <div class="row">
          <div class="graph col-md-6">
            <div data-data="{{= project.data['pull-time'] in json}}" data-title="Image pull"></div>
          </div>
          <div class="graph col-md-6">
            <div data-data="{{= project.data['update-time'] in json}}" data-title="Image update"></div>
          </div>
        </div>
        <div class="row">
          <div class="graph col-md-6">
            <div data-data="{{= project.data['spawn-time'] in json}}" data-title="Container spawn"></div>
          </div>
        </div>
      </div>
    </section>
