    <section class="settings">
      <div class="container">
        <div class="row">
          <div class="account-form col-sm-6">
            <label>Email</label>
            <input class="form-control" disabled="true" type="text" value={{= user.email in json}}>
          </div>
          <form id="cloud9user-form" class="account-form ajax-form has-feedback col-sm-6">
            <input type="hidden" name="name" value="cloud9user">
            <label class="control-label">Cloud9 Username</label>
            <input class="form-control" data-submit-on="blur" name="key" placeholder="Username" type="text" value={{= user.keys.cloud9user in json}}>
          </form>
        </div>
        <div class="row">
          <form id="cloud9-form" class="account-form ajax-form has-feedback col-sm-12">
            <input type="hidden" name="name" value="cloud9">
            <label class="control-label">Cloud9 SSH Key</label>
            <textarea class="form-control" data-submit-on="blur" name="key" placeholder="SSH key" rows="7">{{= user.keys.cloud9 in html}}</textarea>
            <p>Please add your <a target="_blank" href="https://c9.io/account/ssh" title="Your public SSH key on c9.io">Cloud9 SSH key</a> to enable Cloud9 IDE access.</p>
          </form>
        </div>
      </div>
    </section>
    <section class="protip">
      <div class="container">
        <div class="row">
          <small>
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            <strong>ProTip!</strong> After setting up your account, you can start hacking on <a href="/projects/">Projects</a>.
          </small>
        </div>
      </div>
    </section>
