    <section class="settings tabs">
      <div class="container">
        <div class="row">
          <ul class="nav nav-tabs">
            <li role="presentation" {{if {{section === "account"}} then {{class="active"}}}}><a href="/settings/account/">Account</a></li>
            <li role="presentation" {{if {{section === "configurations"}} then {{class="active"}}}}><a href="/settings/configurations/">Configurations</a></li>
            <li role="presentation" {{if {{section === "integrations"}} then {{class="active"}}}}><a href="/settings/integrations/">Integrations</a></li>
            <li role="presentation" {{if {{section === "notifications"}} then {{class="active"}}}}><a href="/settings/notifications/">Notifications</a>
          </ul>
        </div>
      </div>
    </section>
