    <section class="settings">
      <div class="container">
        <div class="row">
          <div class="account-form col-sm-6">
            <label>Email</label>
            <input class="form-control" disabled="true" type="text" value={{= user._primaryEmail in json}}>
          </div>
          <form action="/api/user" class="account-form ajax-form has-feedback col-sm-6" method="patch">
            <label class="control-label">Name</label>
            <input class="form-control" data-submit-on="blur" name="/name" placeholder="Real name" type="text" value={{= user.profile.name in json}}>
          </form>
        </div>
      </div>
    </section>
    <section class="protip">
      <div class="container">
        <div class="row">
          <small>
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            <strong>ProTip!</strong> After setting up your account, you can start hacking on <a href="/projects/">Projects</a>.
          </small>
        </div>
      </div>
    </section>
